---
import MainLayout from "../../layouts/MainLayout.astro";
import { formatPublishDate } from "../../lib/utils.ts";
import "../../styles/global.css";
const response = await fetch(
  "https://micro.blog/micropub?q=source&offset=0&limit=15",
  {
    method: "GET",
    headers: { Authorization: `Bearer ${process.env.MICROBLOG_TOKEN}` },
  }
);

const posts = await response.json();

// 1. Generate a new path for every collection note
export async function getStaticPaths() {
  const response = await fetch(
    "https://micro.blog/micropub?q=source&offset=0&limit=15",
    {
      method: "GET",
      headers: { Authorization: `Bearer ${process.env.MICROBLOG_TOKEN}` },
    }
  );

  const posts = await response.json();

  // console.log(posts);

  const slugs = posts.items.map((post: any) => ({
    params: { slug: post.properties.uid[0] },
  }));

  // console.log(slugs);

  return slugs;
}
// 2. When it's time to render, you can get the note directly from the prop

// console.log("uid", post.properties.uid[0]);
// console.log("slug", Astro.params["slug"]);

const post = posts.items.find(
  (post: any) => post.properties.uid[0] == Astro.params["slug"]
);
---

<MainLayout title={formatPublishDate(post.properties.published)}>
  <article>
    <div class="flex flex-col md:flex-row justify-start gap-1 align-bottom">
      <time class="slab" datetime={post.properties.published}>
        {formatPublishDate(post.properties.published)}
      </time>
    </div>
    <Fragment set:html={post.properties.content[0]} />
    <!-- {
      tags.length > 0 && (
        <p>
          Tags:{" "}
          {tags.map((tag: any, i: number) => (
            <Tag tag={tag} i={i} />
          ))}
        </p>
      )
    } -->
  </article>
</MainLayout>
