---
import { marked } from "marked";
import Tag from "../components/Tag.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { formatPublishDate, truncateHTML } from "../lib/utils";
import "../styles/global.css";

const response = await fetch(`https://micro.blog/micropub?q=source`, {
  method: "GET",
  headers: {
    Authorization: `Bearer ${import.meta.env.SECRET_MICROBLOG_TOKEN}`,
  },
});

let posts = await response.json();

posts = posts.items.map((post: any) => {
  post = {
    uid: post.properties.uid[0],
    content: truncateHTML(
      marked(post.properties.content[0]),
      post.properties.uid[0]
    ),
    published: post.properties.published[0],
    title: post.properties.name,
  };
  return post;
});
---

<MainLayout title="Posts">
  <div class="grid grid-cols-2 gap-6">
    {
      posts.map((post: any) => (
        <article class="h-auto max-w-full p-6 border border-gray-900 rounded-xl shadow-2xl hover:bg-black hover:bg-opacity-50">
          {post.title != "" && <span class="slab">{post?.title}</span>}
          <Fragment set:html={post.content} />
          <time class="slab text-[10px]" datetime={post?.published}>
            {formatPublishDate(post?.published)}
          </time>
        </article>
      ))
    }
  </div>
</MainLayout>
