---
import { getTagHref, getTagPathHierarchy } from "../lib/tags.ts";

const { tag, count, href } = Astro.props;
const tagPaths = getTagPathHierarchy(tag);
const segments = tag.split("/").filter(Boolean);
const isHierarchical = segments.length > 1;
---

<style>
  a,
  a:visited {
    background-color: var(--astro-code-color-background);
    color: var(--main-accent-color) !important;
    padding: 0.25rem;
    margin: 0.125rem;
    border-radius: 0.5rem;
    border-color: var(--astro-code-color-background);
    border-width: 1px;
    white-space: nowrap;
    text-decoration: none !important;
  }

  a:hover {
    border-color: var(--main-accent-color);
    text-decoration: none !important;
  }
</style>
{
  !isHierarchical && (
    <a href={href ?? getTagHref(tag)} class="tag">
      {tag}
      {count ? ` (${count})` : ""}
    </a>
  )
}
{
  isHierarchical &&
    segments.map((segment: string, index: number) => (
      <Fragment>
        {index > 0 && "/"}
        <a href={getTagHref(tagPaths[index])} class="tag">
          {segment}
          {count && index === segments.length - 1 ? ` (${count})` : ""}
        </a>
      </Fragment>
    ))
}
